* {
    margin: 0;
    text-decoration: none;
}
body {
    font-family: "DeJaVu Serif", Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

a {
    color: #E5E7EB;
}
/*
div {
    padding-left: 128px;
    padding-right: 256px;
}
*/

.header, .one, .two, .three, .footer {
    padding-left: 256px;
    padding-right: 256px;
    margin: 0;
}
ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    height: 100px;
    padding-top: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;

}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    gap: 24px;
}

.one {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
    align-content: center;
    gap: 96px;
}

.one-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    flex-grow: 1;
    gap: 10px;
    margin-right: 0;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color:#3882F6;
    color: #F9FAF8;
    width: 110px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 0;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: bold;
    transition-duration: 0.4s;
    box-sizing: border-box;

}

.sign-up:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}


.hero-image {
    width: 800px;
    height: auto;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.two {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 64px;
}

.info-header {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.infobox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
}

.info-square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    box-sizing: border-box;
    border-radius: 10px;
}

.info-text {
    text-align: center;
    font-size: 12px;
    color: #292929;
}

.three {
    display: flex;
    flex-direction: column;
    padding-top: 64px;
    padding-bottom: 64px;
    margin-bottom: 64px;
    background-color: #E5E7EB;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 800px;
}

.quote-attribution {
    text-align: right;
    font-weight: bolder;
    align-self: flex-end;
    padding-right: 350px;
}

.four {
    display: flex;
    justify-content: space-between;
    margin-left: 256px;
    margin-right: 256px;
    margin-bottom: 64px;
    padding: 50px 150px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
}

.call {
    font-size: 18px;
    font-weight: bold;
}

.call-subtext {
    font-size: 14px;
}

.four-right {
    border: solid 2px #F9FAF8;
}

.footer {
    background-color:#1F2937;
    color: #F9FAF8;
    height: 64px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 44px;
}


